@model IEnumerable<ManageEmployee.Models.DTOs.TitleDto>

@{
    ViewData["Title"] = "TitleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Title List</h1>
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Min)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Max)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="3" class="text-center">No titles found.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Min)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Max)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
